/*Universal*/
html{
  font-size:16px;
  line-height: 1.4;
}
body {
  font-family: Raleway, sans-serif;
  margin: 0 auto;
}
.container{
  max-width: 1920px;
  margin: 0 auto;
  border: 1px solid black;
}
/*header*/
.box {
  width: 100%;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  height: 64px;
  font-size: 2rem;
  color: grey;
}
header strong{
  color: black;
}
nav{
  display: flex;
  border: 1px solid black;
  font-size: 1.5rem;
}
.logo{
  display: flex;
  align-items: center;
}
.logo img{
  height: 3rem;
  margin-left: 24px;
}
nav{
  display: inline-block;
  margin-right: 8px;
  color: black;
}
nav a{
  color: inherit;
  text-decoration: inherit;
  padding: 0 16px 0 16px;
  border: 1px solid black;
}
.mobile{
  display:none;
}
/*Header 480px*/
@media only screen and (max-width: 700px) {
.container{
  width: 100%:
}
  header{
    display: flex;
    justify-content: space-around;
  }
  header span{
    display:none;
  }
  header nav{
    display: none;
  }
  .mobile{
    display:block;
  }
}

/*Banner*/
.banner{
  width: 100%;
  border: 1px solid black;
  background-color: hsl(200, 19%, 87%);
  display: flex;
}
.bannerimage{
  padding: 2rem 1.5rem;
  width: 60%；
}
.banner .description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:hsla(0, 24%, 33%,0.9);
  max-width: 25%;
}
.banner span{
  font-size: 3.5rem;
  font-weight: 800;
}
.banner p{
  font-size: 2rem;
  font-weight: 700;
}
.button{
  font-size: 2rem;
  text-align: center;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom:0.5rem;
  background-color:hsla(0, 24%, 33%,0.9);
  color: white;
  text-decoration: inherit;
  border-radius: 2%;

}
/*Banner 480px*/
@media only screen and (max-width: 480px){
  .container{
    width: 100%;
  }
  .banner img{
    max-width: 100%;
  }
  .bannerimage{
    padding: 0;
    margin: 0 auto;
  }
  .banner .description{
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem 1rem;
   }


  .banner{
    display: flex;
    flex-direction: column;
  }
  .bannerimage{

  }
}
/*Information*/
.information{
  display: flex;
}
.bigbox{
  border: 1px solid black;
  width: 60%;
  display: flex;
  flex-direction: column;
  color:hsla(0, 24%, 33%,0.9);
  padding: 2rem 1.5rem;
}
.bigbox img{
  padding-bottom: 2rem;
}
.bigbox span{
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 1.5rem;
}
.bigbox .description{
  font-size: 1.5rem;
}
.bigbox p {
  font-size: 1.2rem;
}
.smallbox{
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 2rem 0 2rem 1.5rem;
}
.small{
  display: flex;
  border: 1px solid #C6B6E6;
  width: 100%;
}
.small img{
  width: 35%;
  height: auto;
  padding: 1rem 1rem;
}
.info.description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color:hsla(0, 24%, 33%,0.9);
  border: 1px solid black;
  width: 65%;
}
.smalltitle{
  font-size: 2rem;
  font-weight: 700;
  border: 1px solid black;
}

.small p{
  font-size: 1.5rem;
  border: 1px solid black;
  margin:0.5rem 0;
}
.small a{
  border: 1px solid black;
  font-size: 1.5rem;
  color: #6161EF;
  text-decoration: inherit;
  margin: 0 0;
}
.mobileinfo{
  display: none;
}
/*Information mobile*/
@media only screen and (max-width: 480px){
  .container{
    width: 100%;
  }
  .bigbox{
    display:none;
  }
  .smallbox, .info.description, .small img{
    width: 100%;
  }
  .smallbox{
    padding: 0 0;
  }

  .small{
    flex-direction: column;
  }
  .webpageinfo{
    display: none;
  }
  .mobileinfo{
    display: block;
  }
}
/*Course Data*/
.container.data{
  background-color: hsl(200, 19%, 87%);
}
.start{
  font-size: 3rem;
  text-align: center;
  font-weight: 800;
  color: hsla(0, 24%, 33%,0.9);
  margin: 2rem 0 0 0;
}
.courses{
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  margin-right: 3rem;
  color:hsla(0, 24%, 33%,0.9);

}
.lane{
  display: flex;
  border: 1px solid black;
}

.learn{
  display: flex;
  width: 100%;
  flex-direction: column;
  border: 1px solid black;
  margin: 2rem 1rem;
  background-color: white;
}
.learn span{
  font-size: 2rem;
  font-weight: 700;
}
.learn p{
  font-size: 1.7rem;
}
.learn img{
  height: auto;
}
.details{
  border: 4px solid black;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 1.5rem;
}
.details p{
  margin: 8px auto;
}
/*Thesis*/
.thesis{
  font-size: 3rem;
  text-align: center;
  font-weight: 800;
  color: hsla(0, 24%, 33%,0.9);
  border: 1px solid black;
  margin: 2rem 0 0 0;
}
.thesisbox{
  display: flex;
}
.thesisvid{
  display: flex;
  flex-direction: column;
  width: 60%;
  border: 1px solid black;
  color:  hsla(0, 24%, 33%,0.9);
}
.thesisvid p{
  font-size: 1.5rem;
  padding-left: 1.5rem;
}
.thesisvid .smalltitle{
  padding-left: 1.5rem;
}
video{
  max-width: 100%;
  padding: 2rem 1.5rem;
}
/*footer*/
footer{
  display: flex;
  height: 5rem;
  font-size: 1.2rem;
  color:  hsla(0, 24%, 33%,0.9);
  padding-top: 1rem;
}
.copyright{
  flex-grow:1;
  padding-left: 1.5rem;
}
.terms span{
  padding: 1rem;
}
